.bound {
    border: thin gray solid;
}

.parent {
    overflow: auto;
    height: 200px;
    margin: 1em;
    padding: 1em;
    background-color: cornsilk;
    border-top: 10px green solid;
    border-bottom: 23px green solid;
}

.target {
    margin: 30px;
    border-top: 15px violet solid;
    border-bottom: 22px violet solid;
    padding: 17px;
    background-color: darkseagreen;
}

.display-info {
    margin: 1em;
    padding: 0.5em;
    border: thin brown solid;
}

.info {
    font-weight: bold;
    padding: 0.25em;
}